body {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 600px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(5, 50px);
    background-color: darkslategray;
    gap: 5px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px, black;
    border-style: solid;
    border-radius: 15px;
    width: fit-content;
    padding: 10px;
}

.display {
    height: 150px;
    background-color: white;
}
.bigger{
    grid-row: span 2;
}